body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

h1 {
    margin: 0;
}

.search-container {
    margin: 20px;
}

#search-input {
    padding: 10px;
    width: 80%;
    max-width: 400px;
}

section {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #007BFF;
}
